<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|jpeg|png|gif)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1 [L,QSA]
    RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)$ index.php?page=$1&id=$2 [L,QSA]
</IfModule> 